{% extends 'base.html.twig' %}

{% block title %}Stockflow{% endblock %}

{% block main %}
 <main class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="row">
          <h1>Aviso de Cookies</h1>
          <h3>Última actualización: 31 de enero de 2025</h3>

          <p>Utilizamos cookies y herramientas similares (conjuntamente, “cookies”) para los fines descritos a
            continuación.</p>

          <p><span class="font-weight-bold">Cookies operativas:</span>Utilizamos cookies para prestar nuestros
            servicios, por ejemplo:</p>

          <div class="listaCookie">
            <ul>
              <li>Reconocer cuándo te registras para usar nuestros servicios.</li>
              <li>Reconocerte como miembro de StockFlow y ofrecerte otras funcionalidades y servicios
                personalizados.</li>
              <li>Mostrar funcionalidades, productos y servicios que podrían ser de tu interés, incluidos
                los anuncios en nuestros servicios si son de productos y servicios disponibles en
                StockFlow.</li>
              <li>Mantener un registro de los productos guardados en tu cesta.</li>
              <li>Prevenir actividades fraudulentas.</li>
              <li>Mejorar la seguridad.</li>
              <li>Mantener un registro de tus preferencias, como la divisa y el idioma.</li>
            </ul>
          </div>
          <p>También utilizamos cookies para entender cómo usan los clientes nuestros servicios y así poder
            mejorarlos. Por ejemplo, usamos cookies para llevar a cabo investigaciones y análisis para
            mejorar el contenido, los productos y los servicios de StockFlow, y para medir y entender el
            funcionamiento de nuestros servicios.</p>

          <p><span class="font-weight-bold">Cookies publicitarias:</span></p>
          <p>También usamos cookies para ofrecer ciertos tipos de anuncios, incluidos los de aquellos
            productos y servicios que no están disponibles en StockFlow, y otros anuncios relevantes para
            tus
            intereses.</p>

          <p>Terceros autorizados también pueden utilizar cookies cuando interactúas con los servicios de
            StockFlow. Estos terceros incluyen motores de búsqueda, proveedores de servicios de medición y
            analíticos, redes sociales y compañías de publicidad. Los terceros utilizan cookies cuando
            proporcionan contenidos publicitarios, incluidos anuncios relevantes para tus intereses, para
            medir la efectividad de sus anuncios y para prestar servicios por cuenta de StockFlow.</p>

          <p>Consulta el Aviso sobre publicidad basada en los intereses del usuario para saber cómo te
            muestra StockFlow los anuncios basados en intereses. Para establecer tus preferencias de
            anuncios
            basados en intereses, visita la página Preferencias de Publicidad de StockFlow. Podrás ver qué
            terceros autorizados usan cookies y administrar cómo las usan si visitas la página de Cookies y
            opciones de publicidad.</p>

          <p><span class="font-weight-bold">Información adicional</span></p>

          <p>Las cookies operativas permanecerán en tu navegador durante 13 meses desde tu última visita a
            nuestros servicios, excepto las cookies utilizadas para recordar tus preferencias de privacidad
            (como las Preferencias de Publicidad), que podrán permanecer en tu navegador hasta 5 años. Las
            demás cookies permanecen en tu navegador durante 13 meses desde que nos prestas tu
            consentimiento para utilizarlas.</p>

          <p>Para gestionar las cookies, visita nuestra página de Cookies y opciones de publicidad.
            Aplicaremos tus preferencias de cookies al servicio de StockFlow y al navegador en el que
            establezcas tus preferencias, y a cualquier otro en el que inicies sesión. Si no inicias sesión,
            es posible que tengamos que preguntarte de nuevo por tus preferencias. Algunos sistemas
            operativos móviles pueden limitar aún más el uso de cookies y tecnologías similares; tus
            opciones no anulan esas configuraciones más limitadas en dichos dispositivos móviles.</p>

          <p>Si lo prefieres, consulta en los ajustes de tu navegador cómo evitar que éste acepte cookies
            nuevas, cómo configurar tu navegador para que te notifique cuando reciba una cookie nueva, cómo
            deshabilitar y eliminar las cookies, y cuándo caducarán las cookies.</p>

          <p>Las cookies operativas te permitirán aprovechar algunas de las funcionalidades esenciales de
            StockFlow. Si bloqueas o rechazas de cualquier otra forma cookies operativas a través de los
            ajustes de tu navegador, es posible que algunas funcionalidades y servicios no funcionen. Por
            ejemplo, no podrás añadir elementos a tu cesta, tramitar pedidos o usar cualquier servicio de
            StockFlow que requiera que inicies sesión. Es posible que debas ajustar manualmente algunas de
            tus
            preferencias cada vez que utilices nuestros servicios.</p>

          <p>Consulta nuestro <a href="../privacidad/privacidad.html" target="_blank" rel="noopener noreferrer">Aviso de
              Privacidad</a> para más información sobre los tipos de
            información que recabamos.</p>

        </div>
      </div>
    </div>
  </main>

{% endblock %}
