{% extends 'base.html.twig' %}

{% block title %}Stockflow{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="es">

<div class="row">
      <div class="col-xl-1"></div>
      <div class="col-12 col-xl-10">
        <div class="container-fluid">
          <div class="row">
            <h1 class="text-center py-5  fw-bold fs-3">ASÍ ES STOCKFLOW</h1>
            <div class="col-12 col-xl-6 d-flex">
                <img src="{{ asset('img/quisom1.png') }}"
                alt="Grupo de personas trabajando juntas en el desarrollo de la aplicación Stockflow"
                class="rounded-4 w-100">
            </div>
            <div class="col-12 col-xl-6">
              <p class="justify-content lh-lg pt-5 pt-xl-3">
                En StockFlow, transformamos la gestión de almacenes en una experiencia simple y
                eficiente. Combinamos herramientas avanzadas con una interfaz intuitiva para
                optimizar
                tus operaciones, facilitar decisiones inteligentes y potenciar tu negocio. Somos
                expertos en tecnología y logística, comprometidos en ofrecerte soluciones confiables
                y
                poderosas. Únete a la comunidad que lidera el cambio hacia la excelencia logística.
                StockFlow, tu aliado estratégico en la gestión de almacenes.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div>
                <h2 class="text-center fw-bold py-4 my-4 mt-5 fs-3">NUESTROS PRINCIPIOS</h2>
                <p class="lh-lg">
                  Nuestros principios se basan en la confianza, la innovación y la excelencia. Creemos
                  en ofrecer soluciones prácticas y efectivas que se adapten a las necesidades reales
                  de cada cliente. Valoramos la transparencia en nuestras acciones, el compromiso con
                  la mejora continua y el impacto positivo en los negocios que confían en nosotros. En
                  StockFlow trabajamos cada día para ser más que una herramienta, buscamos ser un
                  socio estratégico en tu camino hacia el éxito.
                </p>
              </div>
            </div>
          </div>

          <div class="row pt-5 gx-3">
            <div class="col-12 col-md-6 col-xl-3 d-flex">
              <div class="border-blue rounded-4">
                <div class="text-center">
                    <i class="bi bi-bullseye" style="font-size: 2rem;"></i>
                </div>
                <div class="px-4">
                  <h3 class="text-center fs-5 fw-bold">Cumplir objetivos</h3>
                  <p class="lh-lg text-center">Optimizamos tus operaciones para hacer tu gestión más
                    eficiente.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 d-flex pt-3 pt-md-0">
              <div class="border-blue rounded-4">
                <div class="text-center">
                <i class="bi bi-people" style="font-size: 2rem;"></i>
                </div>
                <div class="px-4">
                  <h3 class="text-center fs-5 fw-bold pb-xl-4">Compañerismo</h3>
                  <p class="lh-lg text-center">
                    Estamos comprometidos en brindarte el respaldo de un
                    equipo que entiende tus necesidades.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 d-flex pt-3 pt-xl-0">
              <div class="border-blue rounded-4">
                <div class="text-center">
                <i class="bi bi-shield-check" style="font-size: 2rem;"></i>
                </div>
                <div class="px-4">
                  <h3 class="text-center fs-5 fw-bold pb-xl-4">Seguridad</h3>
                  <p class="lh-lg text-center">
                    Garantizamos la protección de tus datos con tecnologías
                    de vanguardia.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 d-flex pt-3 pt-xl-0">
              <div class="border-blue rounded-4">
                <div class="text-center">
                <i class="bi bi-people-fill" style="font-size: 2rem;"></i>
                </div>
                <div class="px-4">
                  <h3 class="text-center fs-5 fw-bold">Participación en proyectos</h3>
                  <p class="lh-lg text-center">
                    Buscamos oportunidades para colaborar en proyectos
                    innovadores.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-1"></div>
    </div>

</html>

{% endblock %}
