{% extends 'base.html.twig' %}

{% block title %}Stockflow{% endblock %}

{% block main %}

    <div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Política de Cookies</h5>
        </div>
        <div class="modal-body">
          <p class="my-1">
            Este sitio web usa cookies para mejorar tu experiencia, analizar
            el tráfico y personalizar contenido.
          </p>
          <p class="my-1">
            Al navegar, aceptas su uso según nuestra Política de Cookies.
          </p>
          <p class="my-1">
            Puedes gestionarlas en la configuración de tu navegador.
          </p>
          <p class="my-1">
            Más información en nuestra Política de Privacidad.
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-accent-sf" type="button" title="Aceptar la política de cookies" data-bs-dismiss="modal">
            Aceptar
          </button>
          <button class="btn btn-secondary-sf" type="button" title="Rechazar la política de cookies" data-bs-dismiss="modal">
            Rechazar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 shadow">
        
        <div class="modal-header text-white border-0">
          <h5 class="modal-title colorsitio" id="searchModalLabel">Buscar en el sitio</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
    
        <div class="modal-body p-4">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control input-custom" placeholder="Buscar" aria-label="Buscar">
  
            <button class="btn botobusquedamodal" type="button">
              <i class="bi bi-search lupa"></i>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-accent-sf btn-secondary btn-md" title="Cerrar búsqueda" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
    <main class="container" role="main">
      <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 text-center fw-bold fs-3 pt-5" role="heading" aria-level="1">
                          <h1 class="mt-0 fs-3 fw-bold">TÉRMINOS Y CONDICIONES</h1>
                      </div>
                  </div>

                  <div class="row" aria-labelledby="terms">
                      <div class="col-12 contingut lh-md p-5 rounded-4" id="terms">
                          <p>Estos son los términos y condiciones para
                         el uso de nuestros servicios. Al utilizar nuestro servicio, aceptas los
                           siguientes términos:</p>
                          <h3 tabindex="0">1. Aceptación de los términos</h3>
                          <p>Al acceder y usar este sitio web, aceptas
                            cumplir con estos términos y condiciones. Si no estás de acuerdo con 
                          estos términos, no debes usar nuestros servicios.</p>

                          <h3 tabindex="0">2. Uso del servicio</h3>
                          <p>El uso de nuestros servicios está 
                   reservado para usuarios mayores de 18 años. Nos reservamos el derecho de
                  cambiar, modificar o suspender nuestros servicios en cualquier momento.</p>

                          <h3 tabindex="0">3. Derechos de propiedad intelectual</h3>
                          <p>Todo el contenido de este sitio, 
incluidos textos, imágenes, logotipos y gráficos, son propiedad de 
nuestra empresa y están protegidos por leyes de propiedad intelectual. 
No puedes utilizar este contenido sin nuestro consentimiento explícito.</p>

                          <h3 tabindex="0">4. Política de privacidad</h3>
                          <p>Tu privacidad es importante para 
nosotros. Recopilamos y utilizamos tu información personal de acuerdo 
con nuestra política de privacidad, que puedes leer aquí.</p>

                          <h3 tabindex="0">5. Limitación de responsabilidad</h3>
                          <p>No nos hacemos responsables de ningún 
daño directo, indirecto o incidental que pueda surgir del uso de 
nuestros servicios. Usas nuestros servicios bajo tu propio riesgo.</p>

                          <h3 tabindex="0">6. Modificaciones de los términos</h3>
                          <p>Nos reservamos el derecho de modificar 
estos términos en cualquier momento. Las modificaciones se publicarán en
este sitio y entrarán en vigencia de inmediato.</p>

                          <h3 tabindex="0">7. Ley aplicable</h3>
                          <p>Estos términos y condiciones se rigen por
las leyes de España. Cualquier disputa relacionada con estos términos 
estará sujeta a la jurisdicción de los tribunales competentes de Pego.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-1"></div>
      </div>    
</main>
{% endblock %}
